        html,
        body {
            height: 100%;
        }

        .container-fluid {
            height: 100%;
        }

        .row {
            height: 100%;
        }

        .sidebar,
        .offcanvas-body {
            height: calc(100vh - 56px);
            /* Adjust the height to fill the remaining space below the navbar */
            overflow-y: auto;
            /* Enable vertical scrolling */
        }

        main {
            height: calc(100vh - 56px);
            /* Adjust the height to fill the remaining space below the navbar */
            overflow-y: auto;
            /* Enable vertical scrolling */
        }